@import 'tailwindcss';

body {
  @apply m-0 p-0;
}
.bg-color{
 background-color: #383086;

}
.text-color{
   color: #383086;
}
.menu{
    background: white;
     box-shadow: 0px 0px 5px inset rgb(177, 169, 169);
     border: none;
     
}
.top_section{
    background: whitesmoke;
    color: black;
}

/* testmonial */
 .custom-dots {
          bottom: -50px;
        }
        .custom-dots li button:before {
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);
          opacity: 1;
        }
        .custom-dots li.slick-active button:before {
          color: #60a5fa;
          opacity: 1;
        }



         @keyframes fadeIn {
          from { opacity: 0; transform: translateY(20px); }
          to { opacity: 1; transform: translateY(0); }
        }
        .animate-fadeIn {
          animation: fadeIn 0.8s ease-out forwards;
        }



        /* testmonial css*/
          .custom-dots li button:before {
          color: #818cf8;
          opacity: 0.5;
          font-size: 10px;
        }
        .custom-dots li.slick-active button:before {
          color: #4f46e5;
          opacity: 1;
        }