@import 'tailwindcss';

body {
  @apply m-0 p-0;
}
.menu{
    background: white;
     box-shadow: 0px 0px 5px inset rgb(177, 169, 169);
     border: none;
     
}
.top_section{
    background: whitesmoke;
    color: black;
}