.slider-container {
  position: relative;        
  width: 100%;
  min-height: 100vh;         
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s ease-in-out;
  background-attachment: fixed;
  display: flex;
  align-items: center;        
  padding: 2rem;
  box-sizing: border-box;     
  overflow: hidden;         
}

 
.slider-container::before {
  content: "";
  position: absolute;
  inset: 0;                     
  background: rgba(0, 0, 0, 0.4); 
  
  z-index: 1;
}

.slider-container > div {
  position: relative;
  z-index: 2;    
}

@media (max-width: 768px) {
  .slider-container {
    min-height: 70vh;         
    background-position: top;
  }
}

@media (max-width: 480px) {
  .slider-container {
    min-height: 60vh;         
    background-position: center;
  }
}
